name: Build Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: Release for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    environment: default
    strategy:
      matrix:
        name: [linux, linux-arm, windows, macos-intel, macos-arm]

        include:
          - name: windows
            os: windows-latest
            artifact_name: target/release/kumono-windows-x64.exe
          - name: linux
            os: ubuntu-latest
            artifact_name: target/release/kumono-linux-x64
          - name: linux-arm
            os: ubuntu-latest
            artifact_name: target/release/kumono-linux-arm
          - name: macos-intel
            os: macos-15-intel
            artifact_name: target/release/kumono-macos-x64
          - name: macos-arm
            os: macos-latest
            artifact_name: target/release/kumono-macos-arm

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - name: Build
        run: cargo build --release

      - name: Make Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.artifact_name }}
          draft: false

  publish:
    name: Publish crate
    runs-on: ubuntu-latest
    environment: default
    needs: release

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - name: Publish crate
        run: |
          cargo login ${{ secrets.CARGO_REGISTRY_TOKEN }}
          cargo publish --no-verify
